<form class="ui-g ui-fluid" #form="ngForm" novalidate>
  <div class="ui-g-12">
    <p-fieldset legend="Cadastro do Mega">

      <div class="ui-g-12 ui-md-12">
        <label>Nome do Mega</label>
        <input type="text" name="nome" [(ngModel)]="mega.nome" ngModel class="form-control" pInputText/>
      </div>

      <div class="ui-g-12 ui-md-12">
        <label>Senha do Mega</label>
        <input type="text" name="senha" [(ngModel)]="mega.senha" ngModel class="form-control" pInputText/>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-6 ui-md-2 float-right">
          <button pButton type="button" class="ui-button-danger" icon="fa-close" label="Cancelar" (click)="cancelar()"></button>
        </div>
        <div class="ui-g-6 ui-md-2 float-right">
          <button pButton type="button" class="ui-button-success" icon="fa-floppy-o" label="Salvar" (click)="salvar(form)"></button>
        </div>
      </div>
    </p-fieldset>
  </div>
</form>